.card {
	margin: 0;
	padding: 0;
	width: 30%;
	border: 1px solid lightblue;
}

.card * {
	margin: 0 0 5px;
}

.available {
	background-color: #333333;
	color: yellow;
	padding: 5px;
}

h1 {
	border: 1px dotted lightgrey;
	text-align: center;
}

.description {
	text-align: justify;
	padding: 0 5px;
}

.picture {
	text-align: center;
}

.bold * {
	font-weight: bold;
}